.content{
    position: relative;
    .digit{
        margin:0;
        padding:0;
        color: rgb(69, 191, 207);
        opacity: 0;
        font-size: 2.5rem;
        font-weight: 300;
    }
    .alchemy{
        margin-top:-10px;
        padding:0;
        color: #eee;
        opacity: 0;
        display: inline-block;
        font-size: 3.1rem;
        font-weight: 600;
    }
}

.randomCharacter{
	display: inline-block;
	height: 42px;
}