<footer class="footer footer-white">
    <div class="container">
        <a class="footer-brand" href="/" target="_self">KITTEN</a>
        <div class="copyright float-right">
            &#xA9;
            <script>
                document.write(new Date().getFullYear())
            </script>, made with <i class="material-icons" style="color:red;">favorite</i> by <a href="https://github.com/VITRI0L" target="_blank">VITRI0L</a>, <a href="https://github.com/athanyl" target="_blank">ATHANYL</a>, <a href="https://github.com/KarRobin" target="_blank">KARROBIN</a>.
        </div>
    </div>
</footer>