  <div class="page-header header-filter header-small" data-parallax="true">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <div class="brand card">
            <h3 class="title text-rose"><span style="font-family: 'Freckle Face', cursive; font-size: 50px;">We don't sell Kittens,</span><br>
            Kittens sells themself cause they're fuckin' <b style="font-family: 'Freckle Face', cursive;font-size: 40px;" class=" text-dark">CUTE</b>!


          </div>
        </div>
      </div>
    </div>
  </div>