  <div class="page-header header-filter header-small" data-parallax="true">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <div class="brand card">
            <h3 class="title text-rose">We don't sell Kittens,<br>
            Kittens sells themself cause they're <b>CUTE</b>!
            <h5>Promotion du jour : 1 chaton acheté => 1 template bootstrap offert</h5></h3>
            <h5>Dépêchez-vous ! Il y en aura pour tout le monde.</h5>
          </div>
        </div>
      </div>
    </div>
  </div>