<div class="main main-raised">
<div class="section">
      <div class="container">
          <div class="col-md-9 ml-auto mr-auto">
            <div class="row">
              <% @items.each do |item| %>
              <div class="col-md-4">
                <div class="card card-product card-plain no-shadow" data-colored-shadow="false">
                  <div class="card-header card-header-image">
                    <a href="#">
                      <img src="<%= item.thumb_url %>" width="240" height="160" alt="...">
                    </a>
                  </div>
                  <div class="card-body">
                    <a href="#">
                      <h4 class="card-title"><%= item.title %></h4>
                    </a>
                    <p class="description">
                      <%= item.description %>
                    </p>
                  </div>
                  <div class="card-footer justify-content-between">
                    <div class="price-container">
                      <span class="price"> <%= item.price %> €</span>
                    </div>
                    <button class="btn btn-rose btn-link btn-fab btn-fab-mini btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Remove from wishlist">
                      <i class="material-icons">favorite</i>
                    </button>
                  </div>
                </div>
              </div>
              <% end %>
            </div>


              <div class="col-md-3 ml-auto mr-auto">
                <button rel="tooltip" class="btn btn-rose btn-round" data-original-title="" title="">Load more...</button>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>