<nav class="navbar navbar-color-on-scroll navbar-transparent bg-dark fixed-top col-md-12 ml-auto mr-auto text-center" color-on-scroll="100">
    <div class="container">
        <a class="navbar-brand" href="/" target="_self">KITTEN</a>
        <span class="dropdown">
            <a href="#" class="nav-link" data-toggle="dropdown" aria-expanded="false" style="color:#fff;">
                <i class="material-icons">menu</i>
                <div class="ripple-container"></div>
                MENU
            </a>
            <div class="dropdown-menu dropdown-menu" style="background-color:#fff;margin-top:25px;left:-70%;box-shadow: 0 8px 20px -6px rgb(0, 0, 0, 0.3);">
                <% if user_signed_in? %>
              <a href="/cart" class="dropdown-item" target="_self">
                    <i class="material-icons" style="margin:10px;">child_friendly</i> Cart
                </a>
                <div class="dropdown-divider"></div>                
                    <a href="/users/<%= current_user %>" class="dropdown-item" target="_self">
                        <i class="material-icons" style="margin:10px;">person</i> Profil
                    </a>
                    <%= link_to destroy_user_session_path(:authenticity_token => form_authenticity_token()), method: 'get', class: "dropdown-item" do %>
                        <i class="material-icons" style="margin:10px;">meeting_room</i> Log-out
                    <% end %>
                <% else %>
                    <a href="/users/sign_in" class="dropdown-item" target="_self">
                        <i class="material-icons" style="margin:10px;">how_to_reg</i> Log-in
                    </a>
                    <a href="/users/sign_up" class="dropdown-item" target="_self">
                        <i class="material-icons" style="margin:10px;">person_add</i> Register
                    </a>
                <% end %>
                <div class="dropdown-divider"></div>
                <a href="/about" class="dropdown-item" target="_self">
                    <i class="material-icons" style="margin:10px;">group</i> About
                </a>
            </div>
        </span>
    </div>
</nav>