<div class="container">
    <div class="about-team team-1">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Présentation de la Team</h2>
                <h5 class="description">
                    Cette équipe s'est constituée dans l'objectif de présenter la plateforme Luden comme projet final à la formation proposée par la Grande École du Numérique :
                    <br>
                    <a href="https://www.thehackingproject.org" target="_blank"><span class="text-info">The Hacking Project</span></a>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 ml-auto mr-auto">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <img class="img" src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/44259780_946617672197700_4647092826872479744_o.jpg?_nc_cat=106&_nc_ht=scontent-cdg2-1.xx&oh=a1055021ceef8ed3b7a76c091a089d43&oe=5C753891">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Jolan Lacroix</h4>
                        <h6 class="category text-muted">KITTY HUNTER</h6>
                        <p class="card-description" style="text-align:justify;margin-right:10px;margin-left:10px;">Activiste engagé dans la démocratisation des réseaux décentralisés à travers le monde, passionné par le Big Data et les nouvelles technologies. Passe la plupart de son temps dans le terminal de son ordinateur.</p>
                    </div>
                    <div class="card-footer justify-content-center">
                        <a href="https://www.facebook.com/jlacr0ix" target="_blank" class="btn btn-just-icon btn-link btn-facebook"><i class="fa fa-facebook"></i></a>
                        <a href="https://github.com/VITRI0L" target="_blank" class="btn btn-just-icon btn-link btn-github"><i class="fa fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/jolan-lacroix-5a6214157/" target="_blank" class="btn btn-just-icon btn-link btn-linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ml-auto mr-auto">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <img class="img" src="https://avatars3.githubusercontent.com/u/43390642?s=460&v=4">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Yannis Babin</h4>
                        <h6 class="category text-muted">Mousse - Kitten toy</h6>
                        <p class="card-description" style="text-align:justify;margin-right:10px;margin-left:10px;">Tea addict. Homophobephobique. Bassiste dans un groupe de glam rock imaginaire. Principal dealer d'Alice. Erre sur les réseaux sociaux. Comme ma description n'est pas aussi longue que celle de Jo', j'en rajoute un peu.</p>
                    </div>
                    <div class="card-footer justify-content-center">
                        <a href="https://www.facebook.com/tityannis" target="_blank" class="btn btn-just-icon btn-link btn-facebook"><i class="fa fa-facebook"></i></a>
                        <a href="https://github.com/athanyl" target="_blank" class="btn btn-just-icon btn-link btn-github"><i class="fa fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/yannis-babin-736502171/" target="_blank" class="btn btn-just-icon btn-link btn-linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ml-auto mr-auto">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <img class="img" src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/44259780_946617672197700_4647092826872479744_o.jpg?_nc_cat=106&_nc_ht=scontent-cdg2-1.xx&oh=a1055021ceef8ed3b7a76c091a089d43&oe=5C753891">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Robin Caron</h4>
                        <h6 class="category text-muted">Viking Exotique</h6>
                        <p class="card-description" style="text-align:justify;margin-right:10px;margin-left:10px;">Passionné par le monde numérique, j'aime créer toutes sortes de contenus pour rendre agréable et attrayant ce que je trouvais ennuyeux auparavant. Quand j'éteins mon ordinateur, c'est pour attraper mon skate et explorer de nouveaux spots.</p>
                    </div>
                    <div class="card-footer justify-content-center">
                        <a href="https://www.facebook.com/Monkeys.Boby" target="_blank" class="btn btn-just-icon btn-link btn-facebook"><i class="fa fa-facebook"></i></a>
                        <a href="https://github.com/Kar" target="_blank" class="btn btn-just-icon btn-link btn-github"><i class="fa fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/robin-caron-80ab08aa/" target="_blank" class="btn btn-just-icon btn-link btn-linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>