<h3>Your order confirmation</h3>

Hi <%= @u.username %> !<br/></br>
You bought some kitten pictures on our platform. Thank You ! <br/>
<% tab = @u.cart.items.uniq %>
<% tab.each do |item|%>
	<%= link_to item.title, item.image_url, target: "_blank"%>
	<img src="<%= item.thumb_url %>" width="240" height="160" alt="..."><br/>
<% end %>
You can now download them by right clic -> Save link as.<br/>
And use it as wallpapers on your phone, on your laptop, on your grandma's phone, ...<br/>
Thank you again ! And have a great day !