<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('https://cdn-images-1.medium.com/max/2000/1*HG0Dev_b51Tq7Q92PGKk9g.jpeg');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
            <h1 class="title">A Propos</h1>
            <h4>Découvre qui ce cache derrière Digitalchemy.</h4>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
<%= render 'components/staff_resources' %>
</div>
<br>