<div class="page-header header-filter header-large" data-parallax="true">
      <div class="container">
                <h1 class="title"><%= current_user.username %></h1>
                <h5>EMAIL - <%= current_user.email %></h5>
                <% if current_user %>
                  <%= link_to "SETTINGS", edit_user_registration_path(current_user), class: "btn btn-default btn-sm" %>
                <% end %>
        </div>
</div>
<br>
<br>